* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(178, 173, 184);
  
 
}

.main{
 text-align: center;
 margin-left: 41%;
  margin-top: 19%;
  border: 8px solid black;
  float: left;
  padding: 40px 80px;
  background-color: rgb(228, 153, 62);
}

.heading{
margin: 15px;
color: blue;
font-size: 60px;
background-color: rgb(233, 148, 20) ;
}

.but{
  padding: 9px;
  background-color: aquamarine;
  font-weight:bold ;

}

.time{

text-align: center;
margin-top: 20%;
font-size: 60px;

}